# class  25-11-19

#installe visulstudio code or spider
#for online python COLAB website

In [4]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [40]:
a = 1.2565
b = 56
c = "this is a string"
d = True
e = ["Draco", "Bellatrix", "Voldemort"]
f = ("Delaware","Pennsylvania", "New Jersey", "Georgia")
g = {"Draco", "Bellatrix", "Voldemort"}

In [41]:
print(type (a))
print(type (b))
print(type (c))
print(type (e))
print(type (f))
print(type (g))
type(d)
print(id (a))
print(id (b))
print(id (c))
print(id (e))
print(id (f))
print(id (g))
type(d)

<class 'float'>
<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
1306467010912
140723702897184
1306467555920
1306468218376
1306468280104
1306429904712

bool

In [25]:
print(5+7)
# + operator
# 5,7 operand
# PEMDAS
print (8*5-6+9/2)

12
38.5

In [37]:
a = 5
b = 5
#a == b
print(id(a))
print(id(b))
a = 5
b = 6
#a == b
print(id(a))
print(id(b))

140723702895552
140723702895552
140723702895552
140723702895584

In [ ]:
# shallow copy -> copy by the reference only address is copied 
# if a and b is same only reference will be copied(shallow copy). 
# 140723702895552
# 140723702895552

# deep copy ->    content or value is copied
#  
# 140723702895552
# 140723702895584

In [45]:
# index 0          1           2
z = ["Draco", "Bellatrix", "Voldemort"]
y = ("Draco", "Bellatrix", "Voldemort")
# index -3       -2           -1
# homogenous data = all elements should be of same data type
# hetrogeous data = all elements should be of different data type

# array size is fix
print(z)
print(y)
print(z[1])

['Draco', 'Bellatrix', 'Voldemort']
('Draco', 'Bellatrix', 'Voldemort')
Bellatrix

In [50]:
# set data type dont print the repeted entry
# indexing support is not availble in "set"
g = {"Draco", "Bellatrix", "Voldemort","Draco"}

print (g)
print(type(g))
# type cast = is changing one data type in other data type
g = list(g)
print(type(g))
# type cast = is changing one data type in other data type
g = tuple(g)
print(type(g))

{'Bellatrix', 'Draco', 'Voldemort'}
<class 'set'>
<class 'list'>
<class 'tuple'>

In [ ]:
# in dictionaries index is replaced by "key"
#mutable = which can be change
#imutable = which can not be change
#key will only be that on which hash function can be applied
data = {"first_name":"Muahmmand",
        "second_name":"Asif",
        "last_name":"Shahzad",}
#data["first_name"]
#data["second_name"]
#data["last_name"]

print(data["first_name"])
print(data["second_name"])
print(data["last_name"])

#Basic operation with string data types

In [63]:
name1 = "MUHAmmad AsIf"
name2 = "muhammad qasim"
print(name1==name2)
print(name1, name2)
print(name1, name2, sep='\n')
print(id(name1), id(name2))

dir(name1)# press shift+enter

False
MUHAmmad AsIf muhammad qasim
MUHAmmad AsIf
muhammad qasim
1306468363888 1306468355440

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [65]:
name1 = "MUHAmmad AsIf"
print(name1.upper())
print(name1)
# in line = does not change the name value physicaly change

MUHAMMAD ASIF
MUHAmmad AsIf

In [67]:
name1 = "MUHAmmad AsIf"
name1 =(name1.upper())
print(name1)
# in memory operation = change the name1 value physicaly on the address
del name1

MUHAMMAD ASIF

In [69]:
name1 = "MUHAmmad AsIf"
del name1
print(name1)

NameError: name 'name1' is not defined

In [74]:
name1 = "         MUHAmmad AsIf          "
name1 =(name1.title())
print(name1)
print(len(name1))
print(name1.lstrip())
print(len(name1.lstrip()))
print(name1.rstrip())
print(len(name1.rstrip()))

         Muhammad Asif
32
Muhammad Asif
23
         Muhammad Asif
22

In [82]:
a = "we are pakistani and we love paksitan"
a.find("pakistan")
a[7:16:1] # slicing
a[::1]
a[::1]

'pakistani'

In [ ]:
#start shamil ho ga
#end   shamil nai ho ga
#step what is needed

In [83]:
a = "we are pakistani and we love paksitan"
a.find("pakistan")
a[7:16:2] # slicing

'pksai'

In [84]:
a = "we are pakistani and we love paksitan"
a.find("pakistan")
a[a.find("pakistan"):16] # slicing step by default is 1

'pakistani'

In [86]:
a = "we are pakistani and we love paksitan"
b = a.split()
b

['we', 'are', 'pakistani', 'and', 'we', 'love', 'paksitan']

In [88]:
(i for i in b if i.lower()=='pakistan')

In [90]:
name = ["Muhammad Asif", "Qasim Ali"]
father_name = ["Irshad Ali", "Nazim g"]
university = ["Bahria University", "Quaid e Azam University"

              
#Student Name: %s \n 
card = """
Name      :  {}
Father    :  {}
University:  {}
""".format(name, father_name, university)

print(card)

Name      :  Muhammad Asif
Father    :  Irshad Ali
University:  Bahria University

In [103]:
name = "asif"
fname = "nasir"
prg = "PIAIC"

print(" Student Name: " + name + "\n Father Name: " + fname + "\n Program: " + prg)

 Student Name: asif
 Father Name: nasir
 Program: PIAIC

In [107]:
name = "asif"
fname = "nasir"
prg = "PIAIC"

"Student Name"
print("Student Name: %s name %s \n Father Name:  %s fname %s \n Program:  %s prg")

Student Name: %s name %s
 Father Name:  %s fname %s
 Program:  %s prg

In [98]:
a = 200
print("Pakistan scores: " + str(a))# in line change
print(type(a))
a = input()

Pakistan scores: 200
<class 'int'>
ksjdj

In [106]:
name = "asif"
fname = "nasir"
prg = "PIAIC"
print(" Student Name: " + name + "\n Father Name: " + fname + "\n Program: " + prg )

 Student Name: asif
 Father Name: nasir
 Program: PIAIC