RECUSIVE FUNCTION
THE FUNCTION WHICH CALL ITSELF IN ITS OWN BODY
generator function
keyword argument(arguments are passed on bases of keys)
passing argument from list then *sign is used before list name

function are set of instructiion
user defined
buit in funtion
default function
required argument> must be provided to run the function
default argument> some variable have default values
position argumnet> list
keyword argument> take argument from keys, dict
generator function
remember its old value
recursive function
lambda function

# Predfined Function

In [1]:
print('the')
print(len('the'))
print(type('the'))
print(id('the'))

the
3
<class 'str'>
1943910127520

# user defined

In [2]:
print("Pakistan Zindabad")
print("we love Pakistan")
print("we love our country")

Pakistan Zindabad
we love Pakistan
we love our country

In [4]:
def pak():# Function declaration
    print("Pakistan Zindabad")# Function Body statement 1
    print("we love Pakistan")# Function Body statement 2
    print("we love our country")# Function Body statement 3

In [5]:
pak() # function calling

Pakistan Zindabad
we love Pakistan
we love our country

In [9]:
for x in range(1,3):
    pak()

Pakistan Zindabad
we love Pakistan
we love our country
Pakistan Zindabad
we love Pakistan
we love our country

function programming or procedural programming a bit solw
    block structure( identation concept is introduced)
linear programming is fast in relevance of execution.
    you have to defined each task in a line

# returned argument

In [24]:
def id_card(sid,sname,fname,course,timing):
    text = '''
        PIAIC ISLAMABAD
        id   : {}
        Student Name : {}
        Father's Name : {}
        Course : {}
        Timing : {}
    '''.format(sid,sname,fname,course,timing)
    print(text)
id_card('1','Ali','Nasir','A.I','9 to 12')

        PIAIC ISLAMABAD
        id   : 1
        Student Name : Ali
        Father's Name : Nasir
        Course : A.I
        Timing : 9 to 12

In [27]:
data = [(1,'Ali','Nasir','A.I','9 to 12'),
        (1,'Ali','Nasir','A.I','9 to 12'),
        (1,'Ali','Nasir','A.I','9 to 12'),
       ]
for v in data:
       id_card(*v)

        PIAIC ISLAMABAD
        id   : 1
        Student Name : Ali
        Father's Name : Nasir
        Course : A.I
        Timing : 9 to 12


        PIAIC ISLAMABAD
        id   : 1
        Student Name : Ali
        Father's Name : Nasir
        Course : A.I
        Timing : 9 to 12


        PIAIC ISLAMABAD
        id   : 1
        Student Name : Ali
        Father's Name : Nasir
        Course : A.I
        Timing : 9 to 12

# optional argument

In [32]:
def abc(x, y = 6,z = 8):
    print(x,y,z)
    print(x * y * z)
abc(5)

5 6 8
240

In [33]:
abc(5,7)

5 7 8
280

In [35]:
abc(5,9,6)

5 9 6
270

above all are non return function

In [38]:
abc = print('pakistan')
print(abc)

pakistan
None

# return function

In [39]:
card = id_card(1,'Ali','Nasir','A.I','9 to 12')
print(card) # return function

        PIAIC ISLAMABAD
        id   : 1
        Student Name : Ali
        Father's Name : Nasir
        Course : A.I
        Timing : 9 to 12

None

In [71]:
def id_card(sid,sname,fname,course,timing):
    text = '''
        PIAIC ISLAMABAD
        id   : {}
        Student Name : {}
        Father's Name : {}
        Course : {}
        Timing : {}
    '''.format(sid,sname,fname,course,timing)
    return text, 'qasim', 'Ali'

print(id_card(1,'Ali','Nasir','A.I','9 to 12'))
#multi return

("\n        PIAIC ISLAMABAD\n        id   : 1\n        Student Name : Ali\n        Father's Name : Nasir\n        Course : A.I\n        Timing : 9 to 12\n    ", 'qasim', 'Ali')

In [69]:
#single return
def id_card(sid,sname,fname,course,timing):
    text = '''
        PIAIC ISLAMABAD
        id   : {}
        Student Name : {}
        Father's Name : {}
        Course : {}
        Timing : {}
    '''.format(sid,sname,fname,course,timing)
    return text

print(id_card(1,'Ali','Nasir','A.I','9 to 12'))

        PIAIC ISLAMABAD
        id   : 1
        Student Name : Ali
        Father's Name : Nasir
        Course : A.I
        Timing : 9 to 12

In [70]:
def id_card(sid,sname,fname,course,timing):
    text = '''
        PIAIC ISLAMABAD
        id   : {}
        Student Name : {}
        Father's Name : {}
        Course : {}
        Timing : {}
    '''.format(sid,sname,fname,course,timing)
    return text, 'qasim', 'Ali'

print(*id_card(1,'Ali','Nasir','A.I','9 to 12'))
#multi return

        PIAIC ISLAMABAD
        id   : 1
        Student Name : Ali
        Father's Name : Nasir
        Course : A.I
        Timing : 9 to 12
     qasim Ali

In [74]:
#task 1
def abc(x= 5, y = 6,z = 8):
   # print(x,y,z)
    print(x * y * z)
    return abc
abc()

240

# keyword argument

In [80]:
id_card(1,sname='Ali',fname='Nasir',course='A.I',timing='9 to 12'))

SyntaxError: invalid syntax (<ipython-input-80-0f93d8cae840>, line 1)

In [84]:
print(*id_card(1,'Ali','Nasir','A.I','9 to 12'))

        PIAIC ISLAMABAD
        id   : 1
        Student Name : Ali
        Father's Name : Nasir
        Course : A.I
        Timing : 9 to 12
     qasim Ali

# Argument with list

In [85]:
def id_card(sid,sname,fname,course,timing):
    text = '''
        PIAIC ISLAMABAD
        id   : {}
        Student Name : {}
        Father's Name : {}
        Course : {}
        Timing : {}
    '''.format(sid,sname,fname,course,timing)
    return text

l1 = [1,'Ali','Nasir','A.I','9 to 12']



print(id_card(*l1))
print(id_card(l1))
print(id_card(1,'Ali','Nasir','A.I','9 to 12'))

        PIAIC ISLAMABAD
        id   : 1
        Student Name : Ali
        Father's Name : Nasir
        Course : A.I
        Timing : 9 to 12


        PIAIC ISLAMABAD
        id   : 1
        Student Name : Ali
        Father's Name : Nasir
        Course : A.I
        Timing : 9 to 12

In [1]:
def id_card(sid,sname,fname,course,timing):
    text = '''
        PIAIC ISLAMABAD
        id   : {}
        Student Name : {}
        Father's Name : {}
        Course : {}
        Timing : {}
    '''.format(sid,sname,fname,course,timing)
    return text

d1 = ['sid' = 1,'sname' = 'Ali','fname'='Nasir','course' 'A.I','9 to 12']



print(id_card(*l1))
print(id_card(l1))
print(id_card(1,'Ali','Nasir','A.I','9 to 12'))

SyntaxError: invalid syntax (<ipython-input-1-8db92803c9a7>, line 12)

# Recursive Function

In [35]:
def abc(n):
    if n == 1:
        return 1
    return n * abc(n-1)
#factorial calculation
abc(10)

3628800

In [34]:
def abc(n):
    if n == 1:
        return 1
    return n + abc(n-1)
abc(10)

55

In [5]:
abc(5)

240

# Generator Function 
purani exection yad rakhata hy
sari ki sari memry allocation nai karta

In [12]:
def abc():
    for i in range(11):
       # print(i)
        yield i

a = abc()
print(a)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

print(list(a))

# efficient memory allocation benfit

<generator object abc at 0x000002327297C048>
0
1
2
3
4
5
6
[7, 8, 9, 10]

# lambda Function

In [13]:
def abc(a,b):
    return a+b
abc(8,6)

14

In [27]:
abc = lambda a , b : a + b
abc(8,6)

14