# PIAIC ISLAMABAD BATCH-3 CLASS 9 TO 12 DATED 24-11-19

# HOME WORK

In [4]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# DATA TYPES

In [2]:
a = 1.2565
b = 56
c = "this is a string"
d = True
e = ["Draco", "Bellatrix", "Voldemort"]
f = ("Delaware","Pennsylvania", "New Jersey", "Georgia")
g = {"Draco", "Bellatrix", "Voldemort"}

In [3]:
print(type (a))
print(type (b))
print(type (c))
print(type (e))
print(type (f))
print(type (g))
type(d)

<class 'float'>
<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>

bool

In [25]:
print(5+7)

#Operators
    # +, - ,/ , * , %, ** 
    # = , +=, -=, /=, *=, %=
    # == , >, <, >=, <=
    
# 5,7 operand
# PEMDAS
print (8*5-6+9/2)

12
38.5

# Basic operation with string data types

In [3]:
name1 = "        MUHAmmad     AsIf   "
name2 = "muhammad qasim"
print(name1, name2, sep='\n')
print(id(name1), id(name2))

        MUHAmmad     AsIf
muhammad qasim
2348216829552 2348216235440

In [6]:
# capitalize-----> first letter capital only

name2.capitalize()

'Muhammad qasim'

In [17]:
#casefold-->Casefolding is similar to lowercasing but more aggressive because it is intended to remove all case distinctions in a string
name1 = "MUHAmmad AsIf"
name1.casefold()

'muhammad asif'

In [15]:
#center--->
string = "pakistan"
center = string.center(20,'x')
print(center)

xxxxxxpakistanxxxxxx

In [30]:
# count--->
string = "i amo ino aoo good mood"
substring = 'o'
count = string.count(substring)
print(count)

8

In [29]:
#encode----->
import base64

String = "pakistan"
String1 = base64.b64encode(String.encode('utf-8',errors = 'strict'))
String2 = base64.b64encode(String.encode('utf-32',errors = 'strict'))

print ("Encoded String: " , String1)
print ("Encoded String: " , String2)

Encoded String:  b'cGFraXN0YW4='
Encoded String:  b'//4AAHAAAABhAAAAawAAAGkAAABzAAAAdAAAAGEAAABuAAAA'

In [35]:
#endswith-----> Returns TRUE if string ends with a specfic suffix, other wise FALSE
string = "country"
string1 = string.endswith('tryy')
string2 = string.endswith('y')
print(string1)
print(string2)

False
True

In [53]:
#expandtabs'-----> Return a copy of the string where all tab characters are replaced by one or more spaces.
string2 = 'a\tb\tc\td'
print ("Original string: " + string2)
print ("Defualt exapanded tab: " + string2.expandtabs(4))
print ("Double exapanded tab: " + string2.expandtabs(16))

Original string: a	b	c	d
Defualt exapanded tab: a   b   c   d
Double exapanded tab: a               b               c               d

In [62]:
#find----->Return the lowest index in the string where substring occurs in a string
string = "i am a good programmer. am i joking?"
subsring = 'i'
string = string.find('j')
print(string)
# find also works in this way
'i' in "i am a good programmer. am i joking?"

29

True

In [81]:
#format----->Perform a string formatting operation.
"The result of 15453486/5545 is {0}".format(15453486/5545)
'{0} was born in {1}'.format('Asif','Japan')

'Asif was born in Japan'

In [83]:
#format_map-----> same as formate only differ in taking key words
'{name} was born in {country}'.format(name='Guido',country='Japan')

'Guido was born in Japan'

In [85]:
#index----->same as find but differs as it returns ValueError as substring not found in a string
string = 'I am a good boy'
string.index('bad')

ValueError: substring not found

In [102]:
#----> isalpha
str2='this'

str2.isalpha()

str1= "a"
str1.isalpha()

True

In [109]:
#----->isdigit
str2='8'
str2.isdigit()

True

In [110]:
#----->isdecimal
str2='8'
str2.isdecimal()

True

In [2]:
#----->isascii
str3='idisd554'
str3.isascii()

True

In [114]:
#----->isnumeric
str2.isnumeric()

True

In [113]:
#----->islower
str3 = "Today weather is sunny"
str3.islower()

True

In [124]:
#----->isupper
str3b = "TODAYj"
str3b.isupper()

False

In [121]:
#----->isspace
str4 = '  '
str4.isspace()

True

In [3]:
#----->isidentifier
str = 'Python'
print(str.isidentifier())

str = 'Py thon'
print(str.isidentifier())

True
False

In [9]:
#----->isalnum = checks whether the string consists of alphanumeric characters.
string5 = "fks55456fil"
string5.isalnum()

True

In [10]:
#----->isprintable
txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

In [12]:
#----->istitle=returns true if the string is a titlecased
str = "This Is String Example...Wow!!!"
print (str.istitle())

True

In [ ]:
join',
 


 
 'replace',
 'rfind',
 'rindex

In [46]:
#---->lstrip and rstrip
str6 = "      good      "
print(str6.lstrip())
print(str6.rstrip())
print(str6.strip())
print(str6.title())

good
      good
good
      Good

In [72]:
#---->swapcase, upper, lower, ljust, rjust
str = "   This Is String Example   "
print(str.swapcase())
print(str.lower())
print(str.upper())
print(str.ljust(50,'0'))
print(str.rjust(50,'0'))
print(str.split())
print(str.rsplit())
print(str.splitlines())
print(str.partition('s'))
print(str.rpartition('e'))
print(str.startswith(' '))
print(str.zfill(25))

   tHIS iS sTRING eXAMPLE
   this is string example
   THIS IS STRING EXAMPLE
   This Is String Example   0000000000000000000000
0000000000000000000000   This Is String Example
['This', 'Is', 'String', 'Example']
['This', 'Is', 'String', 'Example']
['   This Is String Example   ']
('   Thi', 's', ' Is String Example   ')
('   This Is String Exampl', 'e', '   ')
True
   This Is String Example

In [58]:
#------->???????
print(str.maketrans("aeiou","12345"))

intab = "aeiou"
outtab = "12345"
trantab = maketrans(intab, outtab)

str = "this is string example....wow!!!";
print (str.translate(trantab))

{97: 49, 101: 50, 105: 51, 111: 52, 117: 53}

NameError: name 'maketrans' is not defined

In [80]:
joint = ":";
seq = ("1b", "b2", "c3"); # This is sequence of strings.
print (joint.join( seq ))

1b:b2:c3

In [ ]:
#Identity Operators

In [ ]:
#Membership Operators

# Operands in python

In [81]:
#Arithmetic Operators
# +  Addition
5.8+2.5

-  Sutraction
*  Multiply
/  Division
// floor division
** power
%  modolus

SyntaxError: invalid syntax (<ipython-input-81-b31d995c6cc3>, line 8)

In [82]:
5.8+2.5

8.3

In [83]:
('1','2')+('3','4')

('1', '2', '3', '4')

In [84]:
"Muhammmad" + "Asif"

'MuhammmadAsif'

In [91]:
28.6585-26.21564
{3,6,9}-{3,9,8}
{4,5,6}-{1,2,3}

{4, 5, 6}

In [89]:
3*2
"a" * 5

'aaaaa'

In [92]:
5**2

25

In [94]:
12/4
12.0/4
12/4.0
12.0/3.4

3.5294117647058822

In [99]:

12//3

4

In [100]:
5%2

1

In [ ]:
#Comparison (Relational) Operators

In [104]:
2==2 # equal
'asif' == 'asif'
2 == 2.0

True

In [105]:
3 < 15 # smaller than

True

In [106]:
5 > 4 #greater than

True

In [108]:
52 <= 60 # smaller than equal
60 <= 60

True

In [109]:
60 >= 6 # greater than equal

True

In [112]:
"a" != "a" # not equal
#"a" <> "b"

SyntaxError: invalid syntax (<ipython-input-112-4f4a94622c2c>, line 2)

In [116]:
chr(0)
chr("a")

TypeError: an integer is required (got type str)

In [117]:
#Assignment Operator
=
+=
-=
*=
**=
%=

In [124]:
a = 5
a += 1
a += 2
a += 3
print(a)

11

In [126]:
a = 100
a -= 5
a -= 5
a += 5
print(a)

95

In [128]:
a = 100
a /= 5
a /= 5

print(a)

4.0

In [130]:
a = 2
a **= 2
a **= 2

print(a)

16

In [131]:
a = 21
a%= 5
print(a)

1

In [132]:
a = "A"
a += "B"
a += "C"
print(a)

ABC

# Logical Operators

In [ ]:
and = &
or = |
not != , <>

In [133]:
user = "qasim"
password = "12345"
print(user== "qasim")
print (password == "12345")

True
True

In [135]:
True and False and True

False

In [136]:
True & False & True

False

In [139]:
a = "A"
b = "B"
c = "C"
d = "D"

print ((a == "A") & (b =="B") & (c =="C") & (d =="D"))
print (a == "A"and b =="B" and c =="C" and d =="D")

True
True

In [140]:
a = "A"
b = "B"
c = "C"
d = "D"

print ((a == "A") | (b =="B") | (c =="C") | (d =="D"))
print (a == "A"or b =="B" or c =="C" or d =="D")

True
True

In [152]:
user = input("user name")
password = input("123")
#"""user == "qasim"
#user == "admin"
#user == "abc"
#password == "123""""

(user == "qasim" or user == "admin" or user == "abc") and password == "123"

user nameqasim
123123

True

In [151]:
user = input("user name")
password = input("password")

(user == "qasim" or user == "abc" or user == "asif" and password == "123")

user nameasif
password123

True

# bitwise operator

In [ ]:
8,   7, 6, 5, 4, 3, 2, 1, 0
2,   2, 2, 2, 2, 2, 2, 2, 2
=============================
256,128,64,32,16,8, 4, 2, 1

In [154]:
28 & 29 # AND operation

28

In [155]:
ord("A") & ord("B")

64

In [156]:
28 | 29 # OR operation

29

In [157]:
28 ^ 29 # XOR operation

1

In [158]:
# left shift (11101)
29<<2
# 1110100

116

In [159]:
# right shif (11101)
29>>2
#00111

7

In [ ]:
110001 = 25

In [154]:
28 & 29 # AND operation

28

In [155]:
ord("A") & ord("B")

64

In [156]:
28 | 29 # OR operation

29

In [157]:
28 ^ 29 # XOR operation

1

In [158]:
# left shift (11101)
29<<2
# 1110100

116

In [159]:
# right shif (11101)
29>>2
#00111

7

In [160]:
110001 = 2

SyntaxError: can't assign to literal (<ipython-input-160-4507a547fe99>, line 1)

In [163]:
# membership operator 
names = ['Qasim', 'Asif', 'Nasir']
for name in names:
    if name == 'Asif':
        print(True)

True

In [164]:
"Asif" in names

True

In [166]:
"Nasiree" in names

False

In [167]:
user = input("input")


(user == "qasim" or user == "abc" or user == "asif" and password == "123")

inputqaim

False

identity operator

In [168]:
a = '5'
b = 5
c = a

a is b

False

In [169]:
a is c

True

In [170]:
c is b

False