# A samrter way book practice chapter 1 to 40

In [2]:

pwd

'C:\\Users\\Asif'

In [2]:
a = 'asif'
b = 5
c = 5.6
print(a,b,c)

asif 5 5.6

In [3]:
b + c

10.6

In [5]:
    print(2 + 2 + b + c)

14.6

List of reserved keys of Python that can not be taken as variable name

and
as
assert
break
class
continue
def
del
elif
else
except
False
finally
for
from
global
if
import
in
is
lambda
None
nonlocal
not
or
pass
print
raise
return
True
try
while
with
yield

In [21]:
a = 18
a += 5
a
a -= 5
a
a *= 5
a
for a in range(0,11):
    a += 5
    print(a)

5
6
7
8
9
10
11
12
13
14
15

In [22]:
a%6

3

if statemetns

In [25]:
species = 'cat'
if species == "cat":
    status = "ok"
    kingdom = "animal"
    print("Yep, it's cat.")

Yep, it's cat.

In [26]:
if 2+2 == 4:
    print(" it seems to be true")

 it seems to be true

In [30]:
if 1 > 0:
    print(' The above expression is True')
if 0 < 1:
    print(' The above expression is True')
if 1 >= 0:
    print(' The above expression is True')
if 1 >= 1:
    print(' The above expression is True')
if 0 <= 1:
    print(' The above expression is True')
if 1 <= 1:
    print(' The above expression is True')

 The above expression is True
 The above expression is True
 The above expression is True
 The above expression is True
 The above expression is True
 The above expression is True

In [39]:
for x in range(0,11):
    if x == 4:
        print("4")
    elif 8 > x > 4:
        print("yes")
    elif (8 > x and x > 4) or x > 11:
        print("8")
    else:
        print("10")

10
10
10
10
4
yes
yes
yes
10
10
10

Lists encovers with []

In [2]:
cities = ["Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattl"]
cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattl']

In [3]:
cities.append("Lahore")

In [4]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattl',
 'Lahore']

In [6]:
cities.count("Lahore")

1

In [17]:
cities.extend('karachi')

In [18]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattl',
 'Lahore',
 'K',
 'a',
 'r',
 'a',
 'c',
 'h',
 'i',
 'K',
 'a',
 'r',
 'a',
 'c',
 'h',
 'i',
 'k',
 'a',
 'r',
 'a',
 'c',
 'h',
 'i',
 'k',
 'a',
 'r',
 'a',
 'c',
 'h',
 'i',
 'k',
 'a',
 'r',
 'a',
 'c',
 'h',
 'i']

In [19]:
cities.clear()

In [20]:
cities

[]

In [31]:
for x in range(0,15):
    cities.append(x)
print(cities)

['lahore', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [32]:
cities.remove(5)

In [33]:
cities

['lahore',
 0,
 1,
 2,
 3,
 4,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14]

In [34]:
cities.reverse()

In [35]:
cities

[14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 4,
 3,
 2,
 1,
 0,
 'lahore']

In [38]:
cities.remove("lahore")

In [39]:
cities.sort()

In [40]:
cities

[0,
 0,
 1,
 1,
 2,
 2,
 3,
 3,
 4,
 4,
 5,
 6,
 6,
 7,
 7,
 8,
 8,
 9,
 9,
 10,
 10,
 11,
 11,
 12,
 12,
 13,
 13,
 14,
 14,
 15,
 16,
 17,
 18,
 19,
 20]

In [41]:
cities.pop(6)

3

In [42]:
x = cities.pop(17)

In [43]:
x

9

In [44]:
cities[19]

11

In [45]:
cities.insert(0,"asif")

In [46]:
cities

['asif',
 0,
 0,
 1,
 1,
 2,
 2,
 3,
 4,
 4,
 5,
 6,
 6,
 7,
 7,
 8,
 8,
 9,
 10,
 10,
 11,
 11,
 12,
 12,
 13,
 13,
 14,
 14,
 15,
 16,
 17,
 18,
 19,
 20]

In [47]:
cities[2:19]

[0, 1, 1, 2, 2, 3, 4, 4, 5, 6, 6, 7, 7, 8, 8, 9, 10]

Tuples

In [50]:
cities= ('asif', 0, 0, 1, 1,2,2, 3, 4, 4, 5, 6, 6,)

In [51]:
cities

('asif', 0, 0, 1, 1, 2, 2, 3, 4, 4, 5, 6, 6)

In [52]:
cities.count(0)

2

In [53]:
cities.index("asif")

0

In [59]:
for x in cities:
    if x == 3:
        print("this is working")
        print(x)

this is working
3

In [61]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ","Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " + a_last_name)
full_names

['BlueRay  Zzz',
 'BlueRay  Burp',
 'BlueRay  Dogbone',
 'BlueRay  Droop',
 'Upchuck  Zzz',
 'Upchuck  Burp',
 'Upchuck  Dogbone',
 'Upchuck  Droop',
 'Lojack  Zzz',
 'Lojack  Burp',
 'Lojack  Dogbone',
 'Lojack  Droop',
 'Gizmo  Zzz',
 'Gizmo  Burp',
 'Gizmo  Dogbone',
 'Gizmo  Droop',
 'Do-Rag  Zzz',
 'Do-Rag  Burp',
 'Do-Rag  Dogbone',
 'Do-Rag  Droop']

In [66]:
x = "35"
int(x, base= 8)

29

In [67]:
float.hex(5.89)

'0x1.78f5c28f5c28fp+2'

In [68]:
str(2)

'2'

string operations

class 1

In [74]:
name = "Ali"
father_name = "Hamza"
university = "Bahria University"

message =  """
PIAIC ISLAMABAD BATCH3
Name:  {}
Father: {}
University: {}
""".format(name, father_name, university)


print(message)

PIAIC ISLAMABAD BATCH3,Name:  Ali,Father: Hamza,University: Bahria University

In [72]:
print?

In [73]:
print(message, end='\n')

PIAIC ISLAMABAD BATCH3
Name:  Ali
Father: Hamza
University: Bahria University

In [75]:
a = 7
b = 7

print(a)
print(b)
print(id(a))
print(id(b))
type(a)

7
7
140732457063424
140732457063424

int

In [76]:
#Index    0      1      2   3      4
names = ["Ali","Hamza",20, True, False]
#Index    -5     -4    -3   -2    -1
type(names)
#Index    0      1      2   3      4
names = ("Ali","Hamza",20, True, False)
#Index    -5     -4    -3   -2    -1
type(names)

tuple

In [77]:
names = {"Hamza","Junaid","Kashif","Hamza"}

print(names)
print(type(names))
names = list(names)
print(names[1])
type(names)

{'Kashif', 'Junaid', 'Hamza'}
<class 'set'>
Junaid

list